.bookmark {
    position: absolute;
    right: 5px;
    top: 5px;
    border: 0px;
    
    
    
}

.home-img {
    width: 40px;
    height: 40px;
}

.profile-img {
    width: 32px;
    height: 32px;

}



.bookmark-img {
    width: 25px;
    height: 25px;
    
}

.bookmark-img-nav{
    width: 25px;
    height: 25px;

}

.bookmark-img:hover {
    width: 40px;
    height: 40px;

}

.bookmark-clicked {

}