
@import "global.css";
@import "icons.css";



header {
    background-color: #00b1b7;
    text-align: center;
    font-size: 20px;
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0px;
    
}

.tags {
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
    

}

.tags li {
    list-style: none;
    background-color: #89cccf; 
    padding: 7px;
    border-radius: 5px;
    font-size: 13px;
    
    
    
}

.show-answer {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.show-answer:hover {
    background-color: #ebf6f6;
}

.question-card{
    margin: 30px;
    width: 300px;
    background-color: azure;
    padding: 30px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    

    

}

h2 {
    font-size: 20px;
    margin-right: 20px;

}

nav {
    display:flex;
    justify-content: space-around;
    height: 40px;
    background-color: #00b1b7;
    align-items: center;
    position:fixed;
    width: 100%;
    bottom:0px;
    
}

a{
    color:white;
}

.active{
    
}

button {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}



.cardBookmark-clicked{
    background-color: #89cccf;
}

.hidden{
    display:none;
    
}

p {
    margin-bottom: 20px;
}